[push]
	default = simple
[merge]
	tool = myscript
	conflictstyle = diff3
[mergetool "myscript"]
	cmd = ~/dev/linux-config/mergescript $BASE $LOCAL $REMOTE $MERGED
	keepBackup = false
[core]
	editor = vim
